* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'poppins';
  display: flex;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom, rgba(151, 202, 128, 0.582), rgba(126, 203, 223, 0.651));
}

.calculator-main {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50em;
  padding: 1em;
  gap: 2em;

}

.calculator-display {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  grid-area: display;
  width: 100%;
  height: 8em;
  grid-column: 1 / -1;
  background-color: rgba(255, 255, 255, 0.774);
  border-radius: 1em;
}

.number-display {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80%;
  justify-content: end;
  padding-right: 1em;
}

.calulator-buttons-container {
  width: 100%;
  height: 60%;
  display: grid;
  grid-template-areas: 
    "button1 button2 button3 button4"
    "button5 button6 button7 button8"
    "button9 button10 button11 button12"
    "button13 button14 button15 button16"
  ;

    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows:  auto;
    gap: 0;
}

.button:nth-child(1) { grid-area: button1;}
.button:nth-child(2) { grid-area: button2;}
.button:nth-child(3) { grid-area: button3;}
.button:nth-child(4) { grid-area: button4;}
.button:nth-child(5) { grid-area: button5;}
.button:nth-child(6) { grid-area: button6;}
.button:nth-child(7) { grid-area: button7;}
.button:nth-child(8) { grid-area: button8;}
.button:nth-child(9) { grid-area: button9;}
.button:nth-child(10) { grid-area: button10;}
.button:nth-child(11) { grid-area: button11;}
.button:nth-child(12) { grid-area: button12;}
.button:nth-child(13) { grid-area: button13;}
.button:nth-child(14) { grid-area: button14;}
.button:nth-child(15) { grid-area: button15;}
.button:nth-child(16) { grid-area: button16;}

.button {
  align-self: center;
  justify-self: center;
  width: 5em;
  height: 5em;
  background-color: rgba(255, 255, 255, 0.678);
  border: 1px solid white;
  border-radius: 100%;
  box-shadow: 0px 0px 3px 0px white;
  font-size: 1rem;
  font-weight: 500;
  }

.focus {
  background-color: white;
  opacity: 1;
  border: 2px solid white;
  box-shadow: 0px 0px 6px 0px white;
}

.numbers {
  font-weight: 300;
  font-size: 2rem;
  text-align: right;
}